.App {
  text-align: center;
  width: 100%;
}

.header {
  margin-bottom: 50px;
}

.large-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
}

.large-button:focus {
  outline: none;
  box-shadow: none;
}

.button-wrapper {
  margin: 20px;
}
